<div class="container">
    <div class="row">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingrese un nuevo proyecto</h5>

                </div>
                <div class="modal-body">
                    <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
                        <div class="mb-3">
                            <label for="nombreProyecto" class="col-form-label">Nombre del proyecto:</label>
                            <input type="text" class="form-control" id="nombreProyecto" name="nombreProyecto" required
                                [(ngModel)]="nombreProyecto" required>
                        </div>
                        <div class="mb-3">
                            <label for="fecha" class="col-form-label">Fecha de realizacion:</label>
                            <input type="text" class="form-control" name="fecha" id="fecha"
                                [(ngModel)]="fecha" required>
                        </div>
                        <div class="mb-3">
                            <label for="descripcionProyecto" class="col-form-label">Descripcion del proyecto:</label>
                            <input type="text" class="form-control" name="descripcionProyecto" id="descripcionProyecto" [(ngModel)]="descripcionProyecto" required>
                        </div>
                        <div class="mb-3">
                            <label for="imgProyecto" class="col-form-label">Imagen del proyecto:</label>
                            <input type="text" class="form-control" name="imgProyecto" id="imgProyecto" [(ngModel)]="imgProyecto" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                routerLink='/home'>Close</button>
                            <button type="submit" class="btn btn-primary">Agregar Proyecto</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>