.row {
  padding-top: 2%;
  padding-bottom: 20%;
  padding-right: 0;
}

h1 {
  font-weight: bold;
}

h4 {
  padding-top: 1.5em;
  font-weight: bold;
  color: black;
}

#working {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  margin-left: 2px;
}

#contenedor {
  display: flex;
}

.container-fluid {
  padding: 0;
  margin: 0;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(204, 19, 66) 0%, rgb(74, 89, 173) 100%);
}

  


#edit {
  color: rgb(7, 255, 7);
  background-color: transparent;
}

#trash {
  color: rgb(255, 0, 0);
  background-color: transparent;
}

.card-body,
P,
H5,
span {
  background-color: rgb(47, 52, 56);
  color:white;
}
.empresa {
  font-weight: bold;
  color: rgb(204, 19, 66);
}

.descripcion {
  font-weight: bold;
  color: rgb(74, 89, 173);
}

.card-text{
  color: aliceblue;
}

.btn-secondary {
  border-color: black;
}

#imagenadju {
  display: flex;
  flex-direction: row;
  align-items: center;
 background: linear-gradient(0deg, rgba(21,16,23,1) 0%, rgb(19, 18, 18) 35%);
}

#thumb {
  background-color: rgb(47, 52, 56);
  height: auto;
}