<div class="container-fluid">

  <div class="row">
    <div class="logo redes">
      <a
        href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><img
          class="img-fluid" id="logo" src="../../../assets/APLogo.png" alt="Argentina Programa" />
      </a>

      <div class="redes img-fluid ">
        <button type="button" class="btn btn-dark" (click)="login()" *ngIf="!isLogged">LOGIN</button>
        <button type="button" class="btn btn-dark" (click)="onLogout()" *ngIf="isLogged">LOGOUT</button>
        <a href="#" class="fa-brands fa-facebook" target="_blank">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a href="#" class="fa-brands fa-twitter" target="_blank">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a href="#" class="fa-brands fa-github" target="_blank">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a href="#" class="fa-brands fa-instagram" target="_blank">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="#" class="fa-brands fa-linkedin" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
      </div>

    </div>


  </div>


</div>