<div class="container-fluid">
  <div class="row">

    <div class=" col-sm-1 col-md-1 col-lg-1"></div>

    <div class=" col-sm-10 col-md-10 col-lg-10 ">




      <!-- Modal agregar EXPERIENCIA-->
      <div class="modal fade" id="agregarExperiencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">NUEVA EXPERIENCIA</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form [formGroup]="form" (ngSubmit)="agregarExperiencia()">
                <div class="mb-3">
                  <label for="nombreE" class="col-form-label">Nombre de la Empresa:</label>
                  <input type="text" class="form-control" id="nombreE" name="nombreE" formControlName="nombreE">
                </div>
                <div class="mb-3">
                  <label for="descripcionE" class="col-form-label">Descripcion de la empresa:</label>
                  <input type="text" class="form-control" name="descripcionE" id="descripcionE"
                    formControlName="descripcionE">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    routerLink='/home'>Close</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Agregar Experiencia</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
      <!--FIN DE MODAL AGREGAR EXPERIENCIA-->

      <!-- Modal EDITAR EXPERIENCIA-->
      <div class="modal fade" id="editarExperiencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">EDITAR EXPERIENCIA</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form [formGroup]="form" (ngSubmit)="edita()">
                <div class="mb-3">
                  <label for="nombreE" class="col-form-label">Nombre de la Empresa:</label>
                  <input type="text" class="form-control" id="nombreE" name="nombreE" formControlName="nombreE">
                </div>
                <div class="mb-3">
                  <label for="descripcionE" class="col-form-label">Descripcion de la empresa:</label>
                  <input type="text" class="form-control" name="descripcionE" id="descripcionE"
                    formControlName="descripcionE">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    routerLink='/home'>Close</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" >EDITAR Experiencia</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
      <!--FIN DE MODAL EDITAR EXPERIENCIA-->

      <h1>Experiencia laboral</h1>
      <!-- Button trigger modal agregar EXPERIENCIA -->
      <button id="button " type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#agregarExperiencia" *ngIf="rolAdmin">NUEVA
        EXPERIENCIA</button>
      <!--***********************************************************************************-->
      <div class="card w-150 mt-3 mb-3" *ngFor="let experiencia of exper">
        <div class="card-body rounded border border-light ">
          <p><span class="empresa">NOMBRE DE LA EMPRESA:</span></p>


          <h5 class="card-title">{{experiencia.nombreE}}</h5>
          <br>
          <br>
          <p><span class="descripcion">DESCRIPCION DEL EMPLEO:</span> </p>

          <p class="card-text">{{experiencia.descripcionE}}</p>
          <button *ngIf="rolAdmin" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editarExperiencia" (click)="traeEditarExperiencia(experiencia)" >
            <fa-icon [icon]="faEdit" id="edit"></fa-icon> Editar
          </button>
          <button *ngIf="rolAdmin" class="btn btn-secondary" (click)="delete(experiencia.id)">

            <fa-icon [icon]="faTrashCan" id="trash"></fa-icon>Eliminar
          </button>
        </div>
      </div>



      <div class=" col-sm-1 col-md-1 col-lg-1 "></div>


    </div>
  </div>
</div>