<div class="container-fluid">

  <div class="row">
    <div class="row col-sm-1 col-md-1 col-lg-1"></div>
    <div class="exp col-sm-1 col-md-1 col-lg-11 ">
      <h1>Experiencia laboral</h1>

      <button type="button" class="btn btn-primary" routerLink='/nuevaexp' *ngIf="isLogged">NUEVA EXPERIENCIA</button>

      <table class="table">
        <tbody>
          <tr *ngFor="let experiencia of exper">
            <td>
              <h2>{{experiencia.nombreE}}</h2>
            </td>
            <td>
              {{experiencia.descripcionE}}
            </td>

            <td *ngIf="isLogged">
              <button class="btn btn-secondary" routerLink="/editexp/{{experiencia.id}}">
                <fa-icon [icon]="faEdit" id="edit"></fa-icon> Editar
              </button>
            </td>


            <td *ngIf="isLogged">
              <button class="btn btn-secondary" (click)="delete(experiencia.id)">
            <td>
              <fa-icon [icon]="faTrashCan" id="trash"></fa-icon>Eliminar
              </button>


            </td>
          </tr>
        </tbody>


      </table>


    </div>

  </div>