* {
  background-color: #171718;
}
p {
  color: #717172;
}

.row {
  padding-top: 5%;
}

h1 {
  color: #717172;
  text-align: center;
  font-weight: bold;
  padding-bottom: 50px;
}
h2 {
  color: #717172;
  display: inline;
}
.icono {
  width: 80px;
  margin: 30px;
}
.exp {
  margin-bottom: 5%;
}

@keyframes navAparicion {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

#edit {
  color: rgb(7, 255, 7);
}

#trash {
  color: rgb(255, 0, 0);
}
