.container-fluid {
  background-color: #171718;
  padding: 0;
}

p {
  color: #717172;
}

h1 {
  color: #717172;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5rem;
}
h2 {
  color: #3434d6;
}
h5 {
  color: rgb(255, 255, 255);
}
.icono {
  width: 80px;
  margin: 30px;
}

#edit {
  color: rgb(7, 255, 7);
  background-color: transparent;
}

#trash {
  color: rgb(255, 0, 0);
  background-color: transparent;
}

.car-header {
  border: 2px solid rgb(75, 69, 74);
}

.card-body,
P,
H5,
span {
  background-color: rgb(47, 52, 56);
}
.empresa {
  font-weight: bold;
  color: rgb(204, 19, 66);
}

.descripcion {
  font-weight: bold;
  color: rgb(74, 89, 173);
}
.row {
  margin: 0;
}
.btn-secondary {
  border-color: var(--bs-dark);
}

#imagenadju {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: grey;
}

#thumb {
  background-color: rgb(47, 52, 56);
  height: auto;
}
