* {
  background-color: #171718;
  
}
p {
  color: #717172;
}

.row {
  padding-top: 5%;
}

h1 {
  color: #717172;
  text-align: center;
  font-weight: bold;
  padding-bottom: 50px;
}
h2 {
  color: #717172;
  
}
.icono {
  width: 80px;
  margin: 30px;
}
.exp {
  margin-bottom: 5%;
  padding: 0;
  margin: 0;
}



.container-fluid {
  
  padding: 0;
  margin: 0;
}

#edit {
  color: rgb(7, 255, 7);
}

#trash {
  color: rgb(255, 0, 0);
}
