* {
  background-color: #c7803a;
}
.row {
  padding-top: 5%;
}

#estudios {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 50px;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

#primaria {
  cursor: pointer;
}

.est {
  margin-bottom: 5%;
}

@keyframes navAparicion {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (max-width: 991px) {
  #estudios {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

#edit {
  color: rgb(7, 255, 7);
}

#trash {
  color: rgb(255, 0, 0);
}
