.row {
  padding-top: 5%;
  background-color: #c7803a;
}



h1 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 50px;
}

.container-fluid {
  background-color: #c7803a;
  padding: 0;
  margin: 0;

  
}



@keyframes navAparicion {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (max-width: 991px) {
  #estudios {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

#edit {
  color: rgb(7, 255, 7);
  background-color:transparent;
}

#trash {
  color: rgb(255, 0, 0);
  background-color:transparent;
}

.card-body,P,H5,span{

  background-color:#152351
}
.empresa{
  font-weight: bold;
  color: rgb(204, 19, 66);
}

.descripcion{

font-weight: bold;
  color: rgb(74, 89, 173);

}

h5{
  color: rgb(255, 255, 255)
}

p {
  color: #717172;
}

