<div class="container-fluid">
  <div class="row">

    <div class=" col-sm-1 col-md-1 col-lg-1"></div>

    <div class=" col-sm-10 col-md-10 col-lg-10 ">
      <h1>Estudios</h1>

      <button id="button " type="button" class="btn btn-primary" routerLink='/nuevaedu' *ngIf="rolAdmin">NUEVA
        EDUCACION</button>

      <div class="card w-150 mt-3 mb-3" *ngFor="let educ of educacion">
        <div class="card-body rounded border border-light ">
          <p><span class="empresa">NOMBRE DEL ESTABLECIMIENTO:</span></p>


          <h5 class="card-title">{{educ.nombreE}}</h5>
          <br>
          <br>
          <p><span class="descripcion">DESCRIPCION DEL ESTUDIO REALIZADO:</span> </p>

          <p class="card-text">{{educ.descripcionE}}</p>
          
          <button *ngIf="rolAdmin" class="btn btn-dark" routerLink="/editedu/{{educ.id}}">
            <fa-icon [icon]="faEdit" id="edit"></fa-icon> Editar
          </button>
          <button *ngIf="rolAdmin" class="btn btn-dark" (click)="delete(educ.id)">

            <fa-icon [icon]="faTrashCan" id="trash"></fa-icon>Eliminar
          </button>
        </div>
      </div>





    </div>
  </div>
</div>