<div class="container-fluid">

  <div class="row">
    <div class="row col-sm-1 col-md-1 col-lg-1"></div>
    <div class="exp col-sm-1 col-md-1 col-lg-11 ">
      <h1>Estudios</h1>

      <button type="button" class="btn btn-primary" routerLink='/nuevaedu' *ngIf="isLogged">Agregar educacion</button>

      <table class="table">
        <tbody>
          <tr *ngFor="let Educacion of educacion">
            <td>
              <h2>{{Educacion.nombreE}}</h2>
            </td>
            <td>
              {{Educacion.descripcionE}}
            </td>

            <td *ngIf="isLogged">
              <button class="btn btn-secondary" routerLink="/editedu/{{Educacion.id}}">
                <fa-icon [icon]="faEdit" id="edit"></fa-icon> Editar
              </button>
            </td>


            <td *ngIf="isLogged">
              <button class="btn btn-secondary" (click)="delete(Educacion.id)">
            <td>
              <fa-icon [icon]="faTrashCan" id="trash"></fa-icon>Eliminar
              </button>


            </td>
          </tr>
        </tbody>


      </table>


    </div>
  </div>
</div>