.row {
  background-color: #171718;
}

h1 {
  padding-top: 5%;
  margin-bottom: 100px;
  text-align: center;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.39);
}

.circulo {
  margin-bottom: 100px;
  margin-right: 3rem;
  display: inline;
}

.container-fluid {
  padding: 0;
}

p {
  color: white;
}

#edit {
  color: rgb(7, 255, 7);
  background-color: transparent;
}

#trash {
  color: rgb(255, 0, 0);
  background-color: transparent;
}

.btn-primary {
  margin-top: 5rem;
}

.margen {
  margin-bottom: 4rem;
}

.btn-dark {
  border-color: var(--bs-white);
}
