<div class="container-fluid">
  <div class="row">

    <div class=" col-sm-1 col-md-1 col-lg-1"></div>

    <div class=" col-sm-10 col-md-10 col-lg-10 ">
      <h1>Hard & soft skills</h1>

  <button id="button " type="button" class="btn btn-primary" routerLink='/nuevaskill' *ngIf="rolAdmin">NUEVA SKILL</button>


          <div *ngFor="let skillastico of skill" class="circulo text-center col-sm-4 col-md-4 col-lg-4">

            <circle-progress [showImage]="true" 
            [imageSrc]="skillastico.fotoSkill" 
            [imageWidth]="79" 
            [imageHeight]="79"
            [title]="skillastico.nombreSkill" 
            [titleColor]="'#52d053'" 
            [percent]=skillastico.porcentaje 
            [radius]="70"
            [outerStrokeWidth]="10" 
            [innerStrokeWidth]="8" 
            [outerStrokeColor]="'#ef953a'" 
            [innerStrokeColor]="'#ff5d5c'"
            [animation]="true" 
            [animationDuration]="900"></circle-progress>

            <button *ngIf="rolAdmin" class="btn btn-dark" routerLink="/editskill/{{skillastico.id}}">
              <fa-icon [icon]="faEdit" id="edit"></fa-icon> Editar
            </button>
            <button *ngIf="rolAdmin" class="btn btn-dark" (click)="delete(skillastico.id)">
            
              <fa-icon [icon]="faTrashCan" id="trash"></fa-icon>Eliminar
            </button>

          </div>

    </div>
</div>
</div>
