<div class="container-fluid">
  <div class="row">

    <div class=" col-sm-1 col-md-1 col-lg-1"></div>

    <div class=" col-sm-10 col-md-10 col-lg-10 ">


      <!-- Modal agregar EXPERIENCIA------------------------------------>
      <div class="modal fade" id="agregarSkill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">NUEVA SKILL</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form [formGroup]="form" (ngSubmit)="agregarSkill()">
                <div class="mb-3">
                  <label for="nombreSkill" class="col-form-label">Nombre de la skill:</label>
                  <input type="text" class="form-control" id="nombreSkill" name="nombreSkill"
                    formControlName="nombreSkill">
                </div>
                <div class="mb-3">
                  <label for="fotoSkill" class="col-form-label">Foto de skill:</label>
                  <input type="text" class="form-control" name="fotoSkill" id="fotoSkill" formControlName="fotoSkill">
                </div>
                <div class="mb-3">
                  <label for="porcentaje" class="col-form-label">Porcentaje de skill:</label>
                  <input type="text" class="form-control" name="porcentaje" id="porcentaje"
                    formControlName="porcentaje">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Agregar skill</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
      <!--FIN DE MODAL AGREGAR EXPERIENCIA-->


      <!-- Modal EDITAR EXPERIENCIA-->
      <div class="modal fade" id="editarSkill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">EDITAR SKILL</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form [formGroup]="form" (ngSubmit)="edita()">
                <div class="mb-3">
                  <label for="nombreSkill" class="col-form-label">Nombre de la skill:</label>
                  <input type="text" class="form-control" id="nombreSkill" name="nombreSkill"
                    formControlName="nombreSkill">
                </div>
                <div class="mb-3">
                  <label for="fotoSkill" class="col-form-label">Foto de skill:</label>
                  <input type="text" class="form-control" name="fotoSkill" id="fotoSkill" formControlName="fotoSkill">
                </div>
                <div class="mb-3">
                  <label for="porcentaje" class="col-form-label">porcentaje de la skill:</label>
                  <input type="text" class="form-control" name="porcentaje" id="porcentaje"
                    formControlName="porcentaje">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    routerLink='/home'>Close</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Editar skill</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
      <!--FIN DE MODAL EDITAR EXPERIENCIA-->

      <!-- Button trigger modal agregar SKILL -->
      <button id="button " type="button" class="btn btn-primary top" data-bs-toggle="modal"
        data-bs-target="#agregarSkill" *ngIf="rolAdmin">AGREGAR NUEVA
        SKILL</button>
      <!--***********************************************************************************-->


      <h1 class="titulo">Hard & soft skills</h1>


      <div class="card" style="width: 18rem;" *ngFor="let skillastico of skill">

        <div class="card-body">
          <circle-progress [showImage]="true" [imageSrc]="skillastico.fotoSkill" [imageWidth]="79" [imageHeight]="79"
            [title]="skillastico.nombreSkill" [titleColor]="'#52d053'" [percent]=skillastico.porcentaje [radius]="80"
            [outerStrokeWidth]="10" [innerStrokeWidth]="8" [outerStrokeColor]="'#ef953a'" [innerStrokeColor]="'#ff5d5c'"
            [animation]="true" [animationDuration]="900">
          </circle-progress>

          <h5 class="card-title">{{skillastico.nombreSkill}}</h5>
          <p class="card-text">{{skillastico.nombreSkill}}</p>

          <button *ngIf="rolAdmin" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editarSkill"
            (click)="traeEditaSkill(skillastico)">
            <fa-icon [icon]="faEdit" id="edit"></fa-icon> Editar
          </button>

          <button *ngIf="rolAdmin" class="btn btn-dark" (click)="delete(skillastico.id)">
            <fa-icon [icon]="faTrashCan" id="trash"></fa-icon>Eliminar
          </button>

        </div>
      </div>










    </div>
  </div>
</div>