<div class="container-fluid">

<div class="row">
  <h1>Hard & soft skills</h1>

  <div class="circulo text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showImage]="true"
      [imageSrc]="'../../assets/html5.png'"
      [imageWidth]="79"
      [imageHeight]="79"
      [title]="'HTML'"
      [titleColor]="'#52d053'"
      [percent]="75"
      [radius]="90"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ef953a'"
      [innerStrokeColor]="'#ff5d5c'"
      [animation]="true"
      [animationDuration]="900"
    ></circle-progress>
  </div>
  <div class="circulo text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showImage]="true"
      [imageSrc]="'../../assets/css.png'"
      [imageWidth]="79"
      [imageHeight]="79"
      [title]="'CSS 70'"
      [titleColor]="'#52d053'"
      [percent]="75"
      [radius]="90"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ef953a'"
      [innerStrokeColor]="'#ff5d5c'"
      [animation]="true"
      [animationDuration]="900"
    ></circle-progress>
  </div>
  <div class="circulo text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showImage]="true"
      [imageSrc]="'../../assets/js.png'"
      [imageWidth]="79"
      [imageHeight]="79"
      [title]="'JS'"
      [titleColor]="'#52d053'"
      [percent]="50"
      [radius]="90"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ef953a'"
      [innerStrokeColor]="'#ff5d5c'"
      [animation]="true"
      [animationDuration]="900"
    ></circle-progress>
  </div>
  <div class="circulo text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showImage]="true"
      [imageSrc]="'../../assets/teamwork.png'"
      [imageWidth]="79"
      [imageHeight]="79"
      [title]="'Teamwork'"
      [titleColor]="'#52d053'"
      [percent]="99"
      [radius]="90"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ef953a'"
      [innerStrokeColor]="'#ff5d5c'"
      [animation]="true"
      [animationDuration]="900"
    ></circle-progress>
  </div>
  <div class="circulo text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showImage]="true"
      [imageSrc]="'../../assets/bi.png'"
      [imageWidth]="79"
      [imageHeight]="79"
      [title]="'bussines inteligence'"
      [titleColor]="'#52d053'"
      [percent]="70"
      [radius]="90"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ef953a'"
      [innerStrokeColor]="'#ff5d5c'"
      [animation]="true"
      [animationDuration]="900"
    ></circle-progress>
  </div>
  <div class="circulo text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showImage]="true"
      [imageSrc]="'../../assets/ingles.png'"
      [imageWidth]="79"
      [imageHeight]="79"
      [title]="'Ingles'"
      [titleColor]="'#52d053'"
      [percent]="60"
      [radius]="90"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ef953a'"
      [innerStrokeColor]="'#ff5d5c'"
      [animation]="true"
      [animationDuration]="900"
    ></circle-progress>
  </div>
</div>
</div>
