.row {
  background-color: #171718;
  text-align: center;
  align-items: center;
  align-content: flex-start;
  height: auto;
  position: relative;
}

#nombre {
  color: rgba(255, 255, 255);
  font-weight: bold;
  font-size: 1.5rem;
}
h1 {
  color: rgba(255, 255, 255, 0.39);
}
p {
  color: rgb(133, 124, 124);
}

#yo {
  position: relative;
  margin-top: 31%;
  width: auto;
  height: auto;
}

@media (min-width: 576px) {
  #yo {
    border-radius: 50%;
    left: 20px;
    position: absolute;
    top: -70px;
    width: 15%;
    z-index: 1000;
    margin-top: 31%;
  }
}

#banner {
  padding: 0;
}

#banner2 {
  padding: 0;
  display: none;
}

@media (max-width: 576px) {
  #banner2 {
    width: 98%;
    padding: 0;
    margin: 0;
    position: absolute;
    display: block;
    height: 700px;
    top: -650px;
    left: 6px;
    z-index: 0;
  }
  #banner {
    display: none;
  }
  #yo {
    margin-top: 14%;
    margin-left: 2%;
  }
}

.container-fluid {
  padding: 0;
}

#imagenfondo {
  height: 50px;
}
