<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/yo8.jpeg" class="img-fluid" alt="yo" id="yo" />
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">{{ persona.nombre+" "+persona.apellido }}</p>
      <p>Full stack developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h1>Acerca de mi</h1>
      <p>
        Hola! me llamo Jeremias Gauto tengo 34 años. Vivo con mi esposa y mis 3 hijos en la ciudad de Lujan, Buenos
        Aires, lugar donde naci.
        Actualmente trabajo como analista de datos para una empresa Metalurgica. En los tiempos libre me gusta disfrutar
        de la familia, leer un libro y tocar la guitarra.

      </p>
    </div>
    <hr />
  </div>

</div>